[Desktop Entry]
Encoding=UTF-8
Name=BONY
Comment=BONY P2P Cryptocurrency
Comment[fr]=BONY, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BONY, eşten eşe kriptografik sanal para birimi
Exec=bony-qt %u
Terminal=false
Type=Application
Icon=bony128
MimeType=x-scheme-handler/bony;
Categories=Office;Finance;
